/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$green: #34bf49;
$backgroundgrey: #F7F7F7;
$bordergrey: #EDEDED;
$midlightgrey: #CCCCCC;
$mediumgrey: #AFAEAE;
$darkergrey: #8d8b8b;
$textgreylighter: #595959;
$textgrey: #4D4D4D;
$buttonblue: #0099e5;
$hoverblue: #0188FE;



* {
  font-family: "Tondo", "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  /* background-image: url("https://s3.us-east-2.amazonaws.com/flexpx-dev/background.jpeg");
  background-size: cover; */
  background-color: $backgroundgrey;
}

/* MAIN WRAPPER (APP COMPONENT) */

.main-wrapper {
  position: relative;
}

/* ALL BUTTONS */

.button {
  /* font: 11px Arial; */
  text-decoration: none;
  background-color: white;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border: 1px solid $midlightgrey;
  border-radius: 2px;
}









/* LANDING PAGE */

.landing-page {
  background-image: url("https://s3.us-east-2.amazonaws.com/flexpx-dev/landing_page_background.jpeg");
  background-size: cover;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page-text {
  color: white;
  font-size: 36px;
  padding-top: 0px;
  padding-bottom: 35px;
  text-align: center;
  text-shadow: 0px 0px 5px grey;
}

.landing-page-sign-up {
  border: none;
  color: white;
  background-color: $buttonblue;
  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 50px;
  font-size: 16px;
}









/* NAV BAR */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $bordergrey;
  height: 48px;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  // /* background-color: rgba(0, 0, 0, 0.1); */
}

.nav-bar-hidden {
  // height: 0px;
  // width: 0px;
  // position: absolute;
  // left: -1000px;
  display: none;
}

.nav-bar-landing {
  // position: relative;
  // z-index: 1;
  background: none;
  border: none;
}

.profile-image {
  height: 75%;
  width: 30px;
  height: 30px;
}

.nav-bar-avatar {
  border-radius: 50%;
}

.stock-avatar {
  // padding-top: 1px;
  // padding-bottom: -1px;
}

.profile-logout {
  display: flex;
  width: 40px;
  justify-content: space-between;
  align-items: center;
  padding-right: 0px;
}

.site-name {
  font-size: 26px;
  font-weight: lighter;
  border: none;
  background: none;
  margin-left: 40px;
}

.site-name:hover {
  color: $hoverblue;
}

.site-name-landing {
  cursor: default;
}

.site-name-landing:hover {
  color: black;
}

.login-signup {
  display: flex;
  width: 160px;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  font-size: 15px;
}

.login-sign-up-landing {
  width: 150px;
}

.sign-up-button {
  border: none;
  border-radius: 0px;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: $green;
  color: white;
}

.sign-up-button-landing {
  background-color: $buttonblue;
  padding: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 50px;
  font-size: 13px;
}

.login-button {
  border: none;
  background: none;
  color: $textgrey;
}

.login-button:hover {
  color: $hoverblue;
}

.login-button-landing {
  color: black;
  font-size: 13px;
}

.at-login-form {
  width: 90px;
}

.at-sign-up-form {
  width: 75px;
}

.right-side {
  width: 530px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  height: 22px;
  width: 300px;
  padding-left: 15px;
  border: 1px solid $bordergrey;
  border-radius: 20px;
  background-color: $backgroundgrey;
  color: $textgreylighter;
  font-size: 14px;
}

.search-bar:focus {
  outline: none;
  border: 1px solid $buttonblue;
  background-color: white;
  border-radius: 20px;
  font-size: 14px;
}

.profile-upload {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-right: 43px;
}

.upload-button {
  border: none;
  border-radius: 0px;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: $green;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.upload-button:focus {
  outline: none;
}










/* PROFILE DROPDOWN MENU */

.profile-dropdown-parent {
  background-color: white;
  border: none;
  padding-top: 9px;
  position: relative;
  padding-bottom: 7px;
}

.profile-dropdown-parent:focus {
  outline: 0;
}

.profile-image {
  cursor: pointer;
}

.profile-dropdown-hidden {
  display: none;
  visibility: hidden;
}

.profile-dropdown-content {
  background-color: white;
  margin-top: 7px;
  border-left: 1px solid $bordergrey;
  border-right: 1px solid $bordergrey;
  border-bottom: 1px solid $bordergrey;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
  height: 96px;
  width: 150px;
  color: $textgrey;
}

.profile-name {
  font-size: 26px;
  padding-bottom: 2px;
  padding-left: 8px;
  font-weight: lighter;
  /* border-bottom: 1px solid lightgrey; */
}

.dropdown-button {
  border: none;
  padding-left: 8px;
  padding-top: 10px;
  cursor: pointer;
  font-size: 13px;
}

.dropdown-button:hover {
  color: $hoverblue;
}














/* UPLOAD FORM */

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 10;
}

.upload-form-box {
  // margin-top: 100px;
  border-radius: 3px;
  width: 900px;
  height: 750px;
  background-color: white;
  color: grey;
  font-size: 15px;
  border: 1px solid $bordergrey;
  position: fixed;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $textgrey;
}

.upload-form-title {
  margin: 40px;
  margin-top: 30px;
  font-size: 26px;
}

.upload-form {
  // padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .upload-input-options {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
// }

.title-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.title-input-field {
  border-radius: 3px;
  border: 1px solid $midlightgrey;
  width: 280px;
  height: 30px;
  margin-top: 5px;
  color: $textgrey;
  font-size: 16px;
  text-align: center;
}

.title-input-field:focus {
  outline: none;
  border: 1px solid $buttonblue;
}

.file-input-button {
  margin: 30px;
  margin-top: 20px;
  width: 320px;
  height: 38px;
  border: 1px solid $buttonblue;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: none;
  background-color: white;
  font-size: 16px;
  // color: white;
  color: $buttonblue;
  cursor: pointer;
}

.file-input-button:hover {
  background-color: $buttonblue;
  color: white;
}

.file-input-hidden {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.upload-photo-display {
  width: 700px;
  height: 400px;
  object-fit: contain;
  border: none;
  border-radius: 3px;
}

.upload-form-options {
  width: 700px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.upload-photo-submit {
  width: 320px;
  height: 38px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: $green;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.upload-photo-submit:focus {
  outline: none;
}

.close-form-button {
  width: 320px;
  height: 38px;
  border-radius: 3px;
  border: 1px solid $bordergrey;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 16px;
  color: $textgrey;;
  cursor: pointer;
}

.close-form-button:hover {
  background: $bordergrey;
  color: white;
}

.close-form-button:focus {
  outline: none;
}



















/* SESSION FORM */

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-form-box {
  /* border: 1px solid grey; */
  border-radius: 3px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: white;
  color: grey;
  font-size: 15px;
  border: 1px solid $bordergrey;
}

.form-title {
  font-size: 26px;
  color: $textgrey;
  margin-top: 26px;
}

.login-form-box > * {
  padding: 20px;
}

.login-form * {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.login-input {
  border-radius: 3px;
  border: 1px solid $midlightgrey;
  width: 312px;
  height: 30px;
  margin-top: 5px;
  padding-left: 5px;
  font-size: 15px;
  color: $textgrey;
  /* margin: auto; */
}

.login-input:focus {
  outline: 0;
  border: 1px solid $buttonblue;
}

.submit-button {
  /* padding-left: 130px;
  padding-right: 130px;
  padding-top: 10px;
  padding-bottom: 10px; */
  width: 320px;
  height: 38px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: $green;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-top: 5px;
}

.submit-button:focus {
  outline: 0;
}

.other-form-text {
  font-size: 12px;
  color: grey;
  padding-bottom: 10px;
}

.other-form-link {
  text-decoration: none;
  color: blue;
}

.demo-user-text {
  text-align: center;
  padding-top: 0px;
}

.demo-user-link {
  cursor: pointer;
  color: blue;
}













/* HOME FEED */

.home-feed {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-followees-text {
  color: $mediumgrey;
  font-size: 26px;
  text-align: center;
  padding: 60px;
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom: 20px;
  padding-top: 60px;
}

.home-feed-item {
  border: 1px solid $bordergrey;
  border-radius: 3px;
  background: white;
  width: 900px;
  height: 640px;
  margin: 50px;
}

.home-feed-item-header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.home-feed-avatar {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin-left: 2px;
}

.home-feed-username {
  color: black;
  font-size: 26px;
  font-weight: lighter;
  padding-left: 15px;
  text-decoration: none;
  cursor: pointer;
}

.home-feed-username:hover {
  color: $hoverblue;
}

.home-feed-photo {
  padding: 0px;
  width: 900px;
  height: 500px;
  object-fit: cover;
}

.home-feed-title-container {
  display: flex;
  align-items: center;
}

.home-feed-title {
  margin-left: 5px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  // font-weight: lighter;
}













/* SEARCH */

.search-page {
  padding-top: 90px;
}

.user-search {

}

.user-search-title {
  font-size: 30px;
  color: $textgreylighter;
  width: auto;
  text-align: center;
  // padding-left: 100px;
  padding-bottom: 15px;
  border-bottom: 1px solid $bordergrey;
}

.user-search-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-search-item {
  height: 80px;
  width: 300px;
  background: white;
  display: flex;
  border: 1px solid $bordergrey;
  border-radius: 3px;
  // margin-left: 50px;
  margin-bottom: 40px;
}

.user-search-item-header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.user-search-item-avatar {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin-left: 5px;
}

.user-search-item-username {
  color: black;
  font-size: 26px;
  font-weight: lighter;
  padding-left: 15px;
  text-decoration: none;
  cursor: pointer;
}

.user-search-item-username:hover {
  color: $hoverblue;
}

.no-users-text {
  color: $textgrey;
}




.photo-search {
  padding-top: 60px;
}

.photo-search-title {
  font-size: 30px;
  color: $textgreylighter;
  width: auto;
  text-align: center;
  // padding-left: 100px;
  padding-bottom: 15px;
  border-bottom: 1px solid $bordergrey;
}

.photo-search-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-search-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: 560px;
  background-color: white;
  border: 1px solid $bordergrey;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.photo-search-item-image {
  padding: 0px;
  width: 900px;
  height: 500px;
  object-fit: cover;
}

.photo-search-item-title-container {
  // padding-left: 40px;
  // padding-right: 40px;
  width: 800px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.photo-search-item-title {
  font-size: 20px;
  // font-weight: lighter;
}

.profile-link-prompt {
  color: black;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  cursor: pointer;
}

.profile-link-prompt:hover {
  color: $hoverblue;
}

.no-photos-text {
  color: $textgrey;
}
















/* PROFILE PAGE */

.profile-page {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 100%;
  height: 680px;
  position: relative;
  z-index: 0;
  border-bottom: 1px solid $bordergrey;
}

.profile-header-missing-banner {
  height: 400px;
}

.banner-photo {
  display: float;
  object-fit: cover;
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: 1;
  // padding-bottom
  // border-bottom: 1px solid $bordergrey;
}

.missing-banner-photo {
  height: 220px;
  border-bottom: 1px solid $bordergrey;
}

.profile-photo {
  display: float;
  border-radius: 50%;
  margin: auto;
  border: 2px solid white;
  // padding-top: -100px;
  // padding-left: -100px;
  position: absolute;
  z-index: 2;
  margin-top: 450px;
  height: 100px;
  width: 100px;
}

.profile-photo-missing-banner {
  border: none;
  margin-top: 172px;
}

.profile-username {
  font-size: 36px;
  color: $textgrey;
  letter-spacing: 1px;
  font-weight: lighter;
  padding-top: 10px;
  margin-top: 565px;
  margin-bottom: 10px;
}

.missing-banner-username {
  padding-top: 10px;
  margin-top: 285px;
}

.other-user-header {
  padding-top: 0px;
}

.follow-button {
  margin-top: 0px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: $buttonblue;
  font-size: 16px;
  border: 1px solid $buttonblue;
  border-radius: 3px;
  cursor: pointer;
}

.follow-button:hover {
  background-color: $buttonblue;
  color: white;
  cursor: pointer;
}

// .follow-button:after {
//   cursor: pointer;
// }

// .unfollow-button {
//   cursor: pointer;
// }
//
// .unfollow-button:hover {
//   border: 1px solid $green;
//   cursor: pointer;
// }














/* PROFILE PAGE PHOTO INDEX*/

.photo-index {
  margin: 50px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-photo-index-item {
  margin: 5px;
  width: 300px;
  height: 200px;
  // object-fit: cover;
}

.profile-photo-index-item-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: filter 0.4s ease;
}

.profile-photo-index-item-photo:hover {
  filter: brightness(50%);
}

.maximized-photo-container {

}

.maximized-photo {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 5;
  object-fit: contain;
  background: black;
}

.x-mark {
  color: white;
  text-shadow: 0px 0px 10px black;
  font-size: 50px;
  position: fixed;
  margin-top: 5px;
  margin-right: 20px;
  top: 0;
  right: 0;
  z-index: 6;
  cursor: pointer;
}

.edit-profile-options {
  color: white;
  text-shadow: 0px 0px 10px black;
  font-size: 26px;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 6;
  display: flex;
  align-items: center;
}

.edit-profile-options-item {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 25px;
}

.edit-profile-options-item:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
