/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: "Tondo", "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  background-image: url("https://i.imgur.com/QudBfkr.jpg");
  background-size: cover;
}

/* ALL BUTTONS */

.button {
  /* font: 11px Arial; */
  text-decoration: none;
  background-color: white;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
}









/* NAV BAR */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid grey; */
  height: 48px;
  background-color: white;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.profile-image {
  height: 75%;
  width: 36px;
}

.login-signup {
  display: flex;
  width: 160px;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  font-size: 15px;
}

.profile-logout {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  padding-right: 0px;
}

.site-name {
  padding-left: 40px;
  font-size: 26px;
  font-weight: lighter;
}

.sign-up-button {
  border: none;
  border-radius: 0px;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: #34bf49;
  color: white;
}

.login-button {
  border: none;
  color: #4D4D4D;
}

.login-button:hover {
  color: blue;
}










/* PROFILE DROPDOWN MENU */

.profile-dropdown-parent {
  background-color: white;
  border: none;
  padding-top: 5px;
  position: relative;
}

.profile-dropdown-parent:focus {
  outline: 0;
}

.profile-image {
  cursor: pointer;
}

.profile-dropdown-hidden {
  display: none;
  visibility: hidden;
}

.profile-dropdown-content {
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
  height: 80px;
  width: 150px;
  color: #4D4D4D;
}

.profile-name {
  font-size: 26px;
  padding: 5px;
  padding-left: 8px;
  font-weight: lighter;
  /* border-bottom: 1px solid lightgrey; */
}

.logout-button {
  border: none;
  padding-left: 8px;
  padding-top: 10px;
  cursor: pointer;
  font-size: 13px;
}

.logout-button:hover {
  color: blue;
}











/* SESSION FORM */

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.login-form-box {
  /* border: 1px solid grey; */
  border-radius: 3px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: white;
  color: grey;
  font-size: 15px;
}

.form-title {
  font-size: 26px;
  color: #4D4D4D;
  margin-top: 26px;
}

.login-form-box > * {
  padding: 20px;
}

.login-form * {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.login-input {
  border-radius: 2px;
  border: 1px solid #CCCCCC;
  width: 312px;
  height: 28px;
  margin-top: 5px;
  padding-left: 5px;
  font-size: 15px;
  color: #4D4D4D;
  /* margin: auto; */
}

.submit-button {
  /* padding-left: 130px;
  padding-right: 130px;
  padding-top: 10px;
  padding-bottom: 10px; */
  width: 316px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #34bf49;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-top: 5px;
}

.other-form-text {
  font-size: 12px;
  color: grey;
}

.other-form-link {
  text-decoration: none;
  color: blue;
}
