/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$green: #34bf49;
$bordergrey: #EDEDED;
$midlightgrey: #CCCCCC;
$textgrey: #4D4D4D;
$buttonblue: #0099e5;
$hoverblue: #0188FE;


* {
  font-family: "Tondo", "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  /* background-image: url("https://s3.us-east-2.amazonaws.com/flexpx-dev/background.jpeg");
  background-size: cover; */
  background-color: #F7F7F7;
}

/* MAIN WRAPPER (APP COMPONENT) */

.main-wrapper {
  position: relative;
}

/* ALL BUTTONS */

.button {
  /* font: 11px Arial; */
  text-decoration: none;
  background-color: white;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border: 1px solid $midlightgrey;
  border-radius: 2px;
}









/* LANDING PAGE */

.landing-page {
  background-image: url("https://s3.us-east-2.amazonaws.com/flexpx-dev/foggy-skyline.jpeg");
  background-size: cover;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page-text {
  color: white;
  font-size: 36px;
  padding-top: 0px;
  padding-bottom: 35px;
  text-align: center;
}

.landing-page-sign-up {
  border: none;
  color: white;
  background-color: $buttonblue;
  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 50px;
  font-size: 16px;
}









/* NAV BAR */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $bordergrey;
  height: 48px;
  background-color: white;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.nav-bar-landing {
  position: relative;
  z-index: 1;
  background: none;
  border: none;
}

.profile-image {
  height: 75%;
  width: 36px;
  height: 36px;
}

.profile-logout {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  padding-right: 0px;
}

.site-name {
  font-size: 26px;
  font-weight: lighter;
  border: none;
  background: none;
  margin-left: 40px;
}

.site-name:hover {
  color: $hoverblue;
}

.site-name-landing {
  cursor: default;
}

.site-name-landing:hover {
  color: black;
}

.login-signup {
  display: flex;
  width: 160px;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  font-size: 15px;
}

.login-sign-up-landing {
  width: 150px;
}

.sign-up-button {
  border: none;
  border-radius: 0px;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: $green;
  color: white;
}

.sign-up-button-landing {
  background-color: $buttonblue;
  padding: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 50px;
  font-size: 13px;
}

.login-button {
  border: none;
  background: none;
  color: $textgrey;
}

.login-button:hover {
  color: $hoverblue;
}

.login-button-landing {
  color: black;
  font-size: 13px;
}

.at-login-form {
  width: 90px;
}

.at-sign-up-form {
  width: 75px;
}

// .login-button-landing:hover {
//   color: black;
// }










/* PROFILE DROPDOWN MENU */

.profile-dropdown-parent {
  background-color: white;
  border: none;
  padding-top: 5px;
  position: relative;
}

.profile-dropdown-parent:focus {
  outline: 0;
}

.profile-image {
  cursor: pointer;
}

.profile-dropdown-hidden {
  display: none;
  visibility: hidden;
}

.profile-dropdown-content {
  background-color: white;
  margin-top: 3px;
  border-left: 1px solid $bordergrey;
  border-right: 1px solid $bordergrey;
  border-bottom: 1px solid $bordergrey;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
  height: 96px;
  width: 150px;
  color: $textgrey;
}

.profile-name {
  font-size: 26px;
  padding-bottom: 2px;
  padding-left: 8px;
  font-weight: lighter;
  /* border-bottom: 1px solid lightgrey; */
}

.dropdown-button {
  border: none;
  padding-left: 8px;
  padding-top: 10px;
  cursor: pointer;
  font-size: 13px;
}

.dropdown-button:hover {
  color: $hoverblue;
}











/* SESSION FORM */

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.login-form-box {
  /* border: 1px solid grey; */
  border-radius: 3px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: white;
  color: grey;
  font-size: 15px;
  border: 1px solid $bordergrey;
}

.form-title {
  font-size: 26px;
  color: $textgrey;
  margin-top: 26px;
}

.login-form-box > * {
  padding: 20px;
}

.login-form * {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.login-input {
  border-radius: 2px;
  border: 1px solid $midlightgrey;
  width: 312px;
  height: 28px;
  margin-top: 5px;
  padding-left: 5px;
  font-size: 15px;
  color: $textgrey;
  /* margin: auto; */
}

.login-input:focus {
  outline: 0;
  border: 1px solid $buttonblue;
}

.submit-button {
  /* padding-left: 130px;
  padding-right: 130px;
  padding-top: 10px;
  padding-bottom: 10px; */
  width: 316px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: $green;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-top: 5px;
}

.submit-button:focus {
  outline: 0;
}

.other-form-text {
  font-size: 12px;
  color: grey;
  padding-bottom: 10px;
}

.other-form-link {
  text-decoration: none;
  color: blue;
}

.demo-user-text {
  text-align: center;
  padding-top: 0px;
}

.demo-user-link {
  cursor: pointer;
  color: blue;
}
