/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: "Tondo", "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  background-image: url("https://i.imgur.com/QudBfkr.jpg");
  background-size: cover;
}

/* NAV BAR */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  height: 70px;
  background-color: white;
}

.profile-image {
  height: 75%;
  width: 50px;
}

.login-signup {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}

.profile-logout {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}

.site-name {
  padding-left: 40px;
  font-size: 30px;
}

.logout-button {

}

/* ALL BUTTONS */

.button {
  /* font: 11px Arial; */
  text-decoration: none;
  background-color: white;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
}

/* SESSION FORM */

.login-form-container {
  display: flex;
  justify-content: center;
}

.login-form-box {
  border: 1px solid grey;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: white;
}

.login-form-box > * {
  padding: 20px;
}

.login-form * {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.login-input {
  border-radius: 2px;
  border: 1px solid #CCCCCC;
}

.submit-button {
  padding-left: 130px;
  padding-right: 130px;
  border: none;
  background-color: mediumseagreen;
  font-size: 16px;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
}
